<div class="container">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Monuments" %>

  <h1>Monuments</h1>

  <div data-controller="insert-in-list">
    <div id="monuments" data-insert-in-list-target="items">
      <% @monuments.each do |monument| %>
        <%= render monument %>
      <% end %>
    </div>

    <div data-controller="form">
      <button class="btn btn-primary" data-action="click->form#display">Add a Monument</button>

      <div class="d-none" data-form-target="container">

        <%= render 'form', monument: @monument %>
      </div>
    </div>
  </div>

  <%#= link_to "New monument", new_monument_path %>

</div>
